.filter-options {
    padding: 1rem 0;
}

.filter-options select {
    width: 95vw;
}

#restaurants-list li {
    width: 100%;
}
#restaurant-container .grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#restaurant-container .restaurant-img,
#restaurant-cuisine, #restaurant-container #map-container{
    width: 100%;
    height: 100%;
    padding: 5px;
}
@media screen and (min-width: 590px) {
    .filter-options select {
        width: 30vw;
    }
    #restaurants-list li {
        width: 40%;
    }
}

@media screen and (min-width: 800px) {
    #restaurants-list li {
        width: 25%;
    }
    #restaurant-container .restaurant-img,
    #restaurant-container #map-container{
        width: calc(50% - 10px);

    }
}

@media screen and (min-width: 1024px) {
    #restaurants-list li {
        width: 20%;
    }
}