@charset "utf-8";
/* CSS Document */
html,
body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #0061b5;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #363636;
  color: #dadada;
  font-size: .8rem;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  background-color: #252831;
  text-align: center;
  
}

nav h1 {
  margin: auto;
  padding: 1rem;
}

nav h1 a {
  color: #fff;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 0.8em;
  list-style: none;
  background-color: #eee;
  font-size: 1rem;
  margin: auto auto 0 auto;
  width: 100%; 
  text-align: left;
  box-sizing: border-box;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline-block;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #0061b5;
  text-decoration: none;
  padding: 1em;
  font-size: 1.1em;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color:  #00305a;
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  width: 100%;
  background-color: #ccc;
  height: 400px;
  
  .map-loading{
    font-size: 3rem;
    color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    height:400px;  
    
  }
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  background-color: #0061b5;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.filter-options h2 {
  color: white;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 92em;
  margin: 0 auto;
}

#restaurants-list li {
  background-color: #fff;
  box-shadow: 1px 1px 1px #968c8c;
  font-family: Arial, sans-serif;
  min-height: 380px;
  width: 270px;
  margin: 15px;
  position: relative;
}
#restaurants-list .restaurant-description{
  padding: 1em;
  text-align: left;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}

#restaurants-list li h1 {
  color: #CC4400;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 1.1rem;
}

#restaurants-list li a {
  background-color: #CC4400;
  box-shadow: 3px 3px 3px #968c8c;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  width: calc(100% - 4.5em);

  transition: background-color 300ms ease-in-out;
  &:hover,
  &:focus {
    background-color: #0061b5;
  }
}

/* Restaurants fav */
#restaurants-list li .fav,
#restaurant-container .fav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
}

#restaurant-container .fav {
    top: 2rem;
    right: 1rem;
}
#restaurants-list li .fav input[type="checkbox"],
#restaurant-container .fav input[type="checkbox"] {
  width: 0;
}
#restaurants-list li .fav input[type="checkbox"]:checked + label,
#restaurant-container .fav input[type="checkbox"]:checked+label {
  color: inherit;
  text-shadow: inherit;
}
#restaurants-list li .fav input[type="checkbox"] + label,
#restaurant-container .fav input[type="checkbox"]+label {
    color: transparent;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
    transition: text-shadow 300ms ease-in;
}
#restaurant-container .fav input[type="checkbox"]+label {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}
#restaurants-list li .fav:hover input[type="checkbox"]:not(:checked) + label,
#restaurant-container .fav:hover input[type="checkbox"]:not(:checked)+label {
  color: transparent;
  text-shadow: 0 0 0 rgba(255, 0, 0, 0.5);
}
/* ====================== Restaurant Details ====================== */


.inside #map {
  background-color: #ccc;
  height: 400px;
  width: 100%;
}

#restaurant-name, #cached-title {
  color: #CC4400;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-address {
  font-size: 1.2rem;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}
#restaurant-container{
  position: relative;
}
#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 30px 15px 60px;
  /* width: 50%; */
}

#reviews-container {
  padding: 30px 40px 80px;
}

#reviews-container h2 {
  color: #CC4400;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 1em;
  position: relative;
  width: 85%;
  box-shadow: 1px 1px 1px #968c8c;
}

#reviews-list li p {
  margin: 0 0 10px;
}
#reviews-list li .name{ font-weight: bold;}
#reviews-list li .date{ font-style: italic;}
#reviews-list li .rating{font-weight: bold;font-style: italic;  color: #666;}

.review-form{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "title title title title   title" 
                       "name  name  name  rating  rating"  
                       "text  text  text  text    button";
  grid-template-rows: repeat(2, auto-fill);
  grid-gap: 5px;
  
  .title{
    grid-area: title;
  }
  input[name=name]{ grid-area: name;}

  .rating{ grid-area: rating; padding-left: 2rem; }
  textarea{
    grid-area: text;
    height: 4rem;
  }
  textarea, input[type=text], input[type=number]{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #968c8c;
    min-height: 3rem;
  }
  input[type=number] {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: #424040;
    max-width: 10rem;
    min-width: 8rem;

    &::placeholder{
      font-size: .6rem;
    }
  }
  input[type=submit]{
    grid-area: button;

    background-color: #CC4400;
    text-decoration: none;
    color: white;
    transition: background-color 300ms ease-in-out;
    border: 0;
    box-shadow: 3px 3px 3px #968c8c;
    
    &:hover,
    &:focus {
      background-color: #0061b5;
    }
  }
}

#restaurant-hours th{
  text-align: left;
}
#restaurant-hours td {
  color: #666;
}

.cached-content{
  background-color: #f3f3f3;
  height: 77.4vh;
  padding: 1em;
}
#cached-list  li a{
  font-size:1.2em;
  font-weight: bold;
}

.hide{
  display: none;
}
